

/*Globales*/

*{background-color: rgba(180, 180, 248, 0.979);}
ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: stretch;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.596);
   background: linear-gradient(rgb(255, 186, 246), rgb(245, 245, 160));
    border-style: solid;
    border-radius: 25%;
}

nav {
    background: linear-gradient(rgb(255, 192, 203), rgb(162, 162, 240));
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

section {
    background: linear-gradient(rgb(150, 238, 157), rgb(207, 250, 128));
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

div {background: color rgb(119, 177, 44);}
p {margin-right: 858px; font-size:medium;
text-transform:capitalize;}

footer {
    background-color: beige;
    text-align: center;
}
button{border-radius: 25%;
padding: 15px;}

/*Los otros*/
section button {
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}
section button:hover {background-color: rgb(0, 110, 255);}

section input {
    width: 7%;
}

p {
    font-size:medium;
    font-family: 'Times New Roman', Times, serif;
   
}

span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    padding: 2%;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-color: bisque;
    border-style: solid;
    border-radius: 25%;
}

li:hover {
    color: blue;
    background-color: rgb(104, 104, 241);
    border-style: solid;
    border-radius: 50%;
    padding: 25px;

}
li:hover {transition-delay: 0,65s;}

li {
    list-style-type: none;
}

nav img {
    width: 9%;
    height: 9%;
    border-radius: 85%;
}
.peluches {
    display: flex;
    flex-direction: row;
    
}

main img {margin-left: 215px;
    height: 320px;
    border-radius: 35%;
}
div img {margin-right: 1150px;
width: 50px;
}
